
body,.page-description{
	font-family:'Open Sans',Lora,'Times New Roman',serif;
}

.post-content{
	text-align: justify;
}

.post-content p{
	font-size:1.9rem;
	margin-bottom:1.3em;
}

.post-content h1, 
.post-content h2, 
.post-content h3, 
.post-content h4,
.post-content h5{
	margin-bottom:15px;
}

pre{
	line-height:20px;
}

code{
	color:#f92672;
}

.page-title{
	text-shadow:3px 3px 2px #34495e;
}

.initial-page .page-title{
	font-size:5.5rem;
}

.author p{
	text-align:justify !important;
}

.author-bio{
	font-weight:500;
}

.site-footer{
	font-size:13px;
	background:#2c3e50;
	color:#fff;
	text-align:center;
}

.post-meta-content{
	color:#eee;
	font-weight: bold;
}

.initial-page .page-title.init:after{
	content:"|";
	
	font-size:5.5rem;
	position:relative;
	bottom:10px;

	-webkit-animation-name: bar_write;
	-moz-animation-name: bar_write;
	-ms-animation-name: bar_write;
	-o-animation-name: bar_write;
	animation-name: bar_write;

 	-webkit-animation-direction: alternate;
 	-moz-animation-direction: alternate;
 	-ms-animation-direction: alternate;
 	-o-animation-direction: alternate;
 	animation-direction: alternate;
   	
   	-webkit-animation-play-state: running;
   	-moz-animation-play-state: running;
   	-ms-animation-play-state: running;
   	-o-animation-play-state: running;
   	animation-play-state: running;

	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	-ms-animation-duration: 0.6s;
	-o-animation-duration: 0.6s;
	animation-duration: 0.6s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

}

@keyframes bar_write{
	0%{
		opacity:0;
	}
	
	50%{
		opacity:0.75;	
	}
	
	100%{
		opacity:1;
	}
}